.contacts {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-holder h4 {
    margin-right: 2em;
}

.social-links {
    width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: purple;
}

.social-links p {
  cursor: pointer;
}


.contacts p {
  margin: 0.5rem;
  display: flex;
  text-align: center;
  gap: 1.2em;
}

.contacts .review {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.review form {
  width: 80%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.review input, .review textarea {
  width: 100%;
  margin: auto;
  padding: 0.5em;
  /* border: 2px solid palevioletred; */
  /* color: purple; */
  font-size: 1rem;
  border-radius: 5px;
}


.review .submit-btn {
  width: 25%;
  height: 2rem;
  background-color: palevioletred;
  color: #fff;
  border: 2px solid palevioletred;
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.review button:hover {
  background-color: transparent;
  color: palevioletred;
  transition: 0.7s ease-in;
}

.socials {
  color: purple;
}

@media screen and (max-width: 576px) {
  .contacts {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review {
    width: 80%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
  }

  .review form {
    width: 90%;
    padding: 2em;
  }

  .review .email-input {
    width: 100%;
  }

  .social-holder {
    display: flex;
    flex-direction: column;
  }
}